.navigation{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;

}
.navigation ul{
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
  
}
.navigation ul li h3{
 color: white;
 font-weight: bold;
 cursor: pointer;
}
.navigation ul li h3:hover{
  color: red;
 
 }

 .movie_list{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
   margin-top: 15px;
   flex-wrap: wrap;
 }